/** Url fonts **/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300;400&display=swap');


/** General Class **/
.anton{font-family: 'Anton', sans-serif;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}

/** Form **/
#form-width{width:100%;}
#form-container{
    width:75%;
    margin:50px auto;
    background-color:#fff;
    border-radius:5px;
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: #E6E6E6;
}


#form-container div h4{
    font-size:30px;
    letter-spacing:1px;
    color:#212121;
    margin-top: 20px;
}
#form-container div hr{
    width:70%;
    margin:15px auto;
}

/** inputs **/
#form-container .inputs-form{
  width: 100%;
  display:flex;
  flex-direction:column;
  padding:0px 40px;
}
#form-container .inputs-form label{
    font-size:15px;
    font-weight: bold;
    color:#212121;
}

#form-container .inputs-form input{
    margin-top: 5px;
    font-size:14px;
    color:#212121;
    width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

#form-container .inputs-form textarea{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size:14px;
    color:#212121;
    width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

#form-container .inputs-form #send-form{
    background-color:#000;
    margin-bottom:30px;
    color:#fff;
    font-size: 14px;
    font-weight: bold;
}

/** Form image **/
#form-container .img-form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form-container .img-form img{
    width: 80%;
    height: 62%;
}

.enlace{
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
}
.enlace i{
    color: orange;
    margin-right: 10px;
}

/** media query **/
@media only screen and (max-width:647px){
    #form-container{
        width:90%;
    }
}